html {
  cursor: default;
}

#leap_motion_css {
}

.ClockButton {
  position: absolute;
  z-index: 1000;
}

.CalendarButton {
  position: absolute;
  z-index: 1000;
}

.calendar {
  bottom: 150px;
}

.LeapMirrorDemo {
  z-index: 1001;
}
