html {
  cursor: default;
}

#leap_motion_css {
  display: block;
  background-image: url("../modules/LeapMirrorDemo/icons/hand.png"); /*Icons made by freepix (https://www.flaticon.com/authors/freepik) */
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  z-index: 1001;
}

.ClockButton {
  position: absolute;
  z-index: 1000;
}

.CalendarButton {
  position: absolute;
  z-index: 1000;
  bottom: 0;
}

.WeatherButton {
  position: absolute;
  z-index: 1000;
}

.ConnectionsButton {
  position: absolute;
  z-index: 1000;
}

.calendar {
  /*bottom: 150px;*/
}

.MMM-EyeCandy {
  position: absolute;
  width: 100%;
  margin-top: 50px;
}

.MMM-CalendarWeek {
  width: 0%;
}
